<div class="cont-top">
	<div class="companyname">网站后台</div>
	<div class="cont-top-middle">
		<ul>
			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon.png">
					</div>
					<div class="top-txt">购物单</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon1.png">
					</div>
					<div class="top-txt">收款单</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon1.png">
					</div>
					<div class="top-txt">收款单</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon1.png">
					</div>
					<div class="top-txt">收款单</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon1.png">
					</div>
					<div class="top-txt">收款单</div>
				</a>
			</li>

			<li>
				<a href="#">
					<div class="top-middle">
						<img src="__IMAGE__admin/icon1.png">
					</div>
					<div class="top-txt">收款单</div>
				</a>
			</li>

		</ul>
	</div>
	<div class="cont-top-rg">
		<ul class="advanced-menu">
			<li>
				<div class="top-search">
					<div class="t-s-l">
						<span class="left-line"></span>
						<input type="text" value="搜库存" class="search-type" disabled>
						<span class="triangle-bottom"></span>
					</div>
					<div class="t-s-l">
						<input type="text" placeholder="请输入商品编码或名称" class="search-dt" autocomplete="off">
						<span class="right-line"></span>
						<span class="right-icon"><img src="__IMAGE__admin/search-icon.png"></span>
					</div>
				</div>
			</li>
			<li class="default" style="position:relative;">
				<span class="user"><img src="__IMAGE__admin/user.png"></span>
				<a href="#" class="special">小丫头 <i><img src="__IMAGE__admin/xl.png"></i></a>
				<div class="drop-down-wrap" style="width:180px;left:15px;display: none;">
					<div class="drop-down">
						<span class="triangle-border"></span>
						<span class="triangle-bg"></span>
						<ul class="del-ul">
							<li>
								<a href="#" class="hot">后台</a>
							</li>
							<li>
								<a href="#">小丫头</a>
							</li>
							<li>
								<a href="#">操作日志</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
		<ul class="advanced-menu">
			<li>
				<a href="#"><img src="__IMAGE__admin/top-icon1.png"></a>
			</li>
			<li>
				<a href="#"><img src="__IMAGE__admin/top-icon2.png"></a>
			</li>
			<li>
				<a href="#"><img src="__IMAGE__admin/top-icon3.png"></a>
			</li>
			<li>
				<a href="#"><img src="__IMAGE__admin/top-icon4.png"></a>
			</li>
			<li>
				<a href="#"><img src="__IMAGE__admin/top-icon5.png"></a>
			</li>
		</ul>
	</div>
</div>