<div class="left-menu" style="height:900px;">
				<div class="menu-list">
					<ul>
						<li class="menu-list-01">
							<!--<a href="ck-kffp.html">-->
							<a>		
								<p class="fumenu" id='storehouse' data-id = "1">库房管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="storehouse_one" data-id = "2">入库单</p>
								<p class="zcd" id="storehouse_two" data-id = "3">出库单</p>
								<p class="zcd" id="storehouse_three" data-id = "4">库存余额表</p>
							</div>
						</li>

						<li class="menu-list-02">
							<!--<a href="ckgl.html">-->
							<a>		
								<p class="fumenu" id="product" data-id = "5">产品管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="product_one" data-id = "6">产品库存</p>
								<p class="zcd" id="product_two" data-id = "7">产品成本</p>
								<p class="zcd" id="product_three" data-id = "8">产品属性管理</p>
							</div>
						</li>

						<li class="menu-list-01">
							<!--<a href="dd-ddgl.html">-->
							<a>	
								<p class="fumenu" id='order' data-id = "9">订单管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="order_one" data-id = "10">下单账户</p>
								<p class="zcd" id="order_two" data-id = "11">所属员工</p>
								<p class="zcd" id="order_three" data-id = "12">订单成本</p>
								<p class="zcd" id="order_four" data-id = "13">订单成本费用</p>
								<p class="zcd" id="order_five" data-id = "14">订单总支付金额</p>
								<p class="zcd" id="order_six" data-id = "15">订单商品</p>
								<p class="zcd" id="order_seven" data-id = "16">手动增加订单</p>
							</div>
						</li>

						<li class="menu-list-02">
							<!--<a href="cj-ckd.html">-->
							<a>	
								<p class="fumenu" id='finance' data-id = "17">财务管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="finance_one" data-id = "18">记录出款和入款</p>
								<p class="zcd" id="finance_two" data-id = "19">计算一段时间的利润</p>
							</div>
						</li>

						<li class="menu-list-01">
							<!--<a href="kh-khgl.html">-->
							<a>		
								<p class="fumenu" id="customer" data-id = "20">客户管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="customer_one" data-id = "21">客户基本信息</p>
								<p class="zcd" id="customer_two" data-id = "22">客户VIP登记管理</p>
								<p class="zcd" id="customer_three" data-id = "22">客户信息管理</p>
								<p class="zcd" id="customer_four" data-id = "23">客户订单管理</p>
								<p class="zcd" id="customer_five" data-id = "24">转移客户</p>
							</div>
						</li>

						<li class="menu-list-02">
							<!--<a href="yg-jbxx.html">-->
							<a>		
								<p class="fumenu" id='staff' data-id = "25">员工管理</p>
								<img class="xiala" src="__IMAGE__admin/xiala.png" />
							</a>
							<div class="list-p">
								<p class="zcd" id="staff_one" data-id = "26">员工基本信息</p>
								<p class="zcd" id="staff_two" data-id = "27">员工权限</p>
								<p class="zcd" id="staff_three" data-id = "28">开通新客户</p>
								<p class="zcd" id="staff_four" data-id = "29">销售额管理</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
